<table class="game-icon">
  <%- 0.upto(Game::SIZE-1) do |i| -%>
    <tr>
      <%- 0.upto(Game::SIZE-1) do |j| -%>
        <%- if game.letters[0] -%>
          <td class="color_<%=game.letters[i*Game::SIZE+j].values.first%>"></td>
        <%- else -%>
          <td class="color_0"></td>
        <%- end -%>
      <%- end -%>
    </tr>
  <%- end -%>
</table>
