<div class="row">
	<div class="span8">
		<h2>about</h2>
    <p class="about">
    Web <a class="about-bold" href="http://mayanks.me">mayanks.me</a><br/>
    </p>
    <p class="about">
    Twitter <a href="http://twitter.com/mayanks" class="about-bold">@mayanks</a>
    </p>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
  </div>
</div>
