<div class="row">
	<div class="span8">
		<h2>goal of the game</h2>
		<p>
      The primary goal of the game is to acquire as many tiles as possible. Finally when there is no more tile to be acquired, the game ends. The player with maximum points (or the tiles owned) is the winner.  
	  </p>
		<h2>how do I play?</h2>
		<p>This is a 2 player game. When you start a new game, you either create a brand new game in which case you are the first player. Or you join a game started by some other player on the Internet. So you will be playing with somebody across the Internet.</p>
		 
		<p>As you would have seen, the game consists of a matrix of 25 tiles. Each tile contains one letter. You acquire tiles by creating a valid english word. You can even steal your opponents tile if it is not protected. A tile is protected by a player when the player owns all the adjacent tiles. You can use your opponents protected tile, but you will not be able to own it.</p>
		
		<p>Tiles owned by you are shown in your color. Tiles protected are shown in the owners color in a darker shade.</p>
		
		<h2>rules of the game</h2>
		<p>On your turn create a valid english word with the following restrictions.</p>
		<ol>
			<li>The word has to be a valid english word with more than a letter</li>
			<li>You cannot use a word which has already been played</li>
			<li>Subforms of a used word is not allowed. For example if 'WILTED' has already been played, you cannot play 'WILT'.</li>
		</ol>
		
		<h2>scoring and winner</h2>
		<p>Your score is the number of tiles you own. The game ends when the complete board has been colored. That is each tile is either acquired by you or your opponent. At this point the player with the maximum score is declared the winner.</p>
		
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		
	</div>
</div>