<div class="row">
	<div class="span8">
		<h2>letterpress</h2>
		<p>
      <%= link_to "letterpress","http://www.atebits.com/letterpress/"%> is a fun and addictive iOS word game created by <%=link_to "@atebits","http://twitter.com/atebits" %>. It is a very simple strategy game where you "Find words, steal tiles and color the board". 
	  </p>
		<p>Unfortunately this game is available only as a iOS game. Looking at the simplicity of this game, I jumped at the opportunity of cloning it into a HTML game. Hence this effort.</p>
		<p>You will need to sign in with your Facebook login. Start a new game and wait for a random person to join in and you can start playing the game. This game is more of a hack as it was developed in couple of days. So please use it as such. 
		</p>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
	</div>
</div>