/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

.content {
	margin-left:220px;
	padding: 20px;
}
.visible-phone h1 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-align:center;
  color: #000;
}
.sidebar {
	//position: fixed;
	//left:20px;
	//top:20px;
	width:200px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
.sidebar .nav {
	text-align: right;
}
.sidebar .nav li {
	padding: 5px 20px;
	margin-bottom: 5px;
	display:inline-block;
	font-size: 1.5em;
	line-height: 1em;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
.sidebar .nav li.active {
	color: #fff;
	background-color:#000;
	border-radius: 20px;
}
.sidebar .nav > li.active > a {
	color: #fff;
}
.sidebar .nav > li > a {
	color: #000;
}
footer {
  border-top: 1px solid #ddd;
  height: 30px;
}
